.wrapper {
  margin-top: 20px;


}

.lion {
  position: absolute;
}

.grayLion {
  position: absolute;
  filter: grayscale(1);
}

.draggerSvg {
  position: absolute;
  z-index: 1;
  fill: none;

}

.dragger {
  fill: none;

  stroke-width: 5px;
}

.imgWrapper {
  position: relative;
  overflow: hidden;
  mask: url(#circleMask);
  width: 500px;
  height: 500px;
}

.warpWrapper {
  margin-top: 20px;
}

.rectWarp {
  fill: rgb(216, 216, 216);
  stroke: rgb(0, 0, 0);
  filter: url(#warp-filter-0);
}

.title {
  filter: url(#warp-filter-0);
  font-weight: 600;
  font-size: 100px;
  font-family: sans-serif;
}