.text {
  fill: rgb(51, 51, 51);
  font-family: Arial, sans-serif;
  font-size: 53px;
  font-weight: 900;
  text-transform: uppercase;
  white-space: pre;
  mask: url(#mask-0);
  fill: #EC407A;
}

.svg2 {
  height: 200px;
  width: 100%;
}

.thirdText {
  fill: rgb(132, 132, 132);
  font-family: Arial, sans-serif;
  font-size: 70px;
  font-weight: 900;
  white-space: pre;
  
}

.maskTwo {
  fill: url(#gradient-1);
}

.maskTwoRect {
  stroke: rgb(0, 0, 0);
  fill: rgb(3, 3, 3);
}