//@import
//url(https://fonts.googleapis.com/css2?family=Bungee%3Aital%2Cwght%400%2C400&amp;display=block);


.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
 
}

.wrap {
  position: relative;
}

.svg {
  object-fit: contain;
  display: block;
}

.svgText {  
  height: auto;
  fill: rgb(51, 51, 51);
  font-family: Bungee;
  font-size: 110.21px;
  line-height: 176.337px;
  word-spacing: 1.3px;
  white-space: pre;
  fill: #fdf8f8;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}


.house {
  fill: none;
  stroke: #EC407A;
  stroke-width: 20px;
}

.line {
  stroke: #EC407A;
  stroke-width: 20px;
  stroke-linecap: square;
}