

.hello {
  padding: 10px;
  background-color: #747bff;
  color: white;
  font-weight: bold;
  margin-top: 20px;
  width: 200px;
}

.btn {
  padding: 20px;
  background-color: thistle;
  margin-block: 20px;
  margin-right: 20px;
}

.hidden {
  visibility: hidden;
  margin-top: -60px;
}

.img {
  width: 160px;
  height: auto;
}



.homeLink {
  color: deepskyblue;
  margin-block: 20px  ;
  display: block;
}

.anim {
  width: 100px;
  padding: 20px;
  color: white;
  background-color: forestgreen;
  border-radius: 10px;
}

.imgWrapper {
  //height: 100vh;
  background-color: aliceblue;  
}

.beforeImg {
  width: 200px;
}

