.wrapper {
  margin-top: 20px;
  position: relative;
  
}

.moreWrapper {
  border: darkgray 1px solid;
  margin-bottom: 500px;
  position: relative;
  width: 500px;
  height: 500px;
}
.moreSvg {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 500px;
  z-index: 1;
  
}

.imgWrapper {
  position: relative;
}

.imgWrapperMore {
  position: absolute;
  top: 0;
  left: 0;
}

.svg {

  position: absolute;

  & circle {
    fill: none;
    stroke: red;
    strokeWidth: 20px
  }
}

.img {
  left: 0;
  top: 0;
}

.imgWrapper {
  width: 100%;
  min-height: 420px;
  overflow: hidden;
}


.innerDiv {
  background: url(@/assets/nature-clip.png);
  background-size: cover;
  position: absolute;
  top: -250px;
  left: -600px;
  width: 150%;
  height: 150%;
  //min-height: 500px;
  
  @media (max-width: 600px) {
    width: 250%;
    height: 250%;
    left: -150px;
  }
}

.divcheg {
  width: 500px;
  height: 500px;
  background: url(@/assets/path-2.png);
  background-size: cover;
}